{% extends 'index.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
<div class="mt-5">
    <img src="{% static 'images/hero-image.webp' %}" alt="">
</div>

<div class="category mt-4">
    <div class="category-item"> <span>📆 {{article.created_at}}</span></div>
    <div class="category-item"><span>By {{article.user|capfirst}}</span></div>
    <div class="category-item"><span>Category: {{article.category.name|capfirst}}</span></div>
</div>

<article class="article text-black mt-5">
    <h1 class="text-black">{{article.title}}</h1>

    <div class="my-5">
        <p>{{article.description|safe}}</p>
    </div>
</article>
{% endblock %}